{{ define "title" }}{{ .Title }} · {{ .Site.Title }}{{ end }}

{{ define "description" }}
<meta name="description" content="{{ i18n "Categories" }}: {{ .Title }} - {{ .Site.Title }}">
{{ end }}

{{ define "main" }}
<div class="autopagerize_page_element">
  <div class="content">
    <p class="post-title">{{ i18n "Categories" }} {{ .Title }}</p>
    <div class="archive animated fadeInDown">
      <ul class="list-with-title">
        {{ range .Pages.GroupByDate "2006" }}
        <li class="listing-title">
          <h4 class="ar-year">{{ .Key }}</h4>
          <ul class="listing">
            {{ range .Pages }}
            <li class="listing-item">
              <div class="listing-post">
                <p class="post-title">
                  <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                </p>
                <div class="post-time">
                  <span class="ar-date">{{ .Date.Format "01-02" }}</span>
                </div>
              </div>
            </li>
            {{ end }}
          </ul>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="controller">
      {{ partial "pagination.html" .Paginator }}
    </div>
  </div>
</div>
{{ end }}
