{{ define "title" }}{{ .Title }} · {{ .Site.Title }}{{ end }}

{{ define "description" }}
<meta name="description" content="{{ i18n "Categories" }}: {{ .Title }} - {{ .Site.Title }}">
{{ end }}

{{ define "main" }}
<div class="autopagerize_page_element">
  <div class="content">
    <section class="archive animated fadeInDown taxonomy-term-page">
      <p class="post-title"># {{ .Title }}</p>
      <ul class="listing taxonomy-post-list">
        {{ range .Pages.ByDate.Reverse }}
        <li class="listing-item">
          <div class="listing-post">
            <p class="post-title">
              <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </p>
            <div class="post-time">
              <span class="ar-date">{{ .Date.Format "2006-01-02" }}</span>
            </div>
          </div>
        </li>
        {{ end }}
      </ul>
    </section>
  </div>
</div>
{{ end }}
