<div id="side-bar" class="col-sm-3 col-xs-12 side-container invisible">
  <div class="side-header">
    <div class="vertical-text site-title">
      <a class="a-title site-title-link" href="{{ .Site.BaseURL }}">
        <h3 class="site-title-small" tabindex="-1">{{ .Site.Params.titleSecondary }}</h3>
        <h1 class="site-title-large" tabindex="-1">{{ .Site.Params.titlePrimary }}</h1>
      </a>
    </div>
    {{ partial "nav.html" . }}
  </div>
  <div class="visible-lg visible-md visible-sm side-footer">
    {{ partial "footer.html" . }}
  </div>
</div>
