.pagination {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.5;

  p {
    margin: 5px 0;
  }

  .clearfix {
    margin: 0;
  }

  > p:first-child,
  .page-count {
    font-size: 16px;
  }

  .pagbuttons {
    display: inline-block;
    font-size: 16px;
  }

  .pre,
  .next {
    a {
      border-bottom: none;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.post-page .pagination {
  margin-top: 28px;

  .pagbuttons {
    max-width: 100%;
  }

  .pre a,
  .next a {
    font-size: 16px;
  }
}
