.post-container {
  margin: 0 0 20px 0;
  font-weight: normal;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin: 3px 0;
}

.post-meta {
  font-size: 16px;
  margin: 10px 0;
}

.post-abstract {
  font-size: 18px;
}

.share {
  margin: 20px 0;
  font-size: 16px;

  .soc {
    display: inline;
    margin: 0 8px;
  }
}
