@media (max-width: $mobileBreakpoint) {
  body {
    line-height: normal;
  }

  h1 { font-size: 40px; }
  h2 { font-size: 34px; }
  h3 { font-size: 28px; }
  h4 { font-size: 22px; }
  h5 { font-size: 16px; }
  h6 { font-size: 14px; }

  .site-title-large { font-size: 38px; }
  .site-title-small { font-size: 22px; }

  .vertical-text {
    writing-mode: horizontal-tb;
  }

  .site-title {
    margin: 0;
    font-weight: bolder;
    font-style: normal;
    width: auto;
    height: auto;
    font-size: 0.5em;
    padding: 0;
    border-left: none;
    text-align: center;
    transition: none;

    * {
      text-align: center;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    &:hover {
      color: $foregroundColor !important;
      background: transparent !important;
      padding: 0;
      border: none;

      * {
        color: $foregroundColor !important;
        background: transparent !important;
      }
    }
  }

  .main-container {
    text-align: left;
    height: auto;
    margin: 0;
    padding: 20px 30px;
    overflow: auto;
  }

  .side-container {
    padding: 40px 30px 0 30px;
    height: auto;
    position: relative;
    left: 0;
    display: block;
  }

  .side-header {
    display: block;
  }

  .site-title-links {
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;

    .site-nav-pages li {
      display: inline;
      margin: 0 3px;
      font-size: 16px;
    }
  }

  .site-nav-social {
    justify-content: center;
  }

  .side-footer {
    display: none !important;
  }

  footer {
    padding: 30px 30px 35px;
  }

  a { padding: 0; }

  .post-title { font-size: 20px; }
  .post-meta { font-size: 14px; }
  .post-abstract { font-size: 16px; }

  .site-bottom-footer { display: block !important; }
}

@media only screen and (max-height: $heightBreakpoint1) {
  .site-title-large { font-size: 32px; }
  .site-title-small { font-size: 20px; }

  .site-title-links ul li {
    font-size: 14px;
    line-height: 1.3;
  }

  .site-nav-footer-br { display: none; }

  .side-container {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .main-container {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

@media only screen and (max-height: $heightBreakpoint2) {
  body { line-height: normal; }

  h1 { font-size: 40px; }
  h2 { font-size: 34px; }
  h3 { font-size: 28px; }
  h4 { font-size: 22px; }
  h5 { font-size: 16px; }
  h6 { font-size: 14px; }

  .site-title-large { font-size: 38px; }
  .site-title-small { font-size: 22px; }

  .vertical-text { writing-mode: horizontal-tb; }

  .site-title {
    margin: 0;
    font-weight: bolder;
    font-style: normal;
    width: auto;
    height: auto;
    font-size: 0.5em;
    padding: 0;
    border-left: none;
    text-align: center;
    transition: none;

    * {
      text-align: center;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    &:hover {
      color: $foregroundColor !important;
      background: transparent !important;
      padding: 0;
      border: none;

      * {
        color: $foregroundColor !important;
        background: transparent !important;
      }
    }
  }

  .main-container {
    text-align: left;
    height: auto;
    margin: 0;
    padding: 20px 30px;
    overflow: auto;
  }

  .side-container {
    padding: 40px 30px 0 30px;
    height: auto;
    position: relative;
    left: 0;
    display: block;
  }

  .side-header {
    display: block;
  }

  .site-title-links {
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;

    .site-nav-pages li {
      display: inline;
      margin: 0 3px;
      font-size: 16px;
    }
  }

  .site-nav-social {
    justify-content: center;
  }

  .side-footer {
    display: none !important;
  }

  footer {
    padding: 30px 30px 35px;
  }

  a { padding: 0; }

  .post-title { font-size: 20px; }
  .post-meta { font-size: 14px; }
  .post-abstract { font-size: 16px; }

  .site-bottom-footer { display: block !important; }
}
