.vertical-text {
  writing-mode: vertical-rl;

  * {
    line-height: 1;
    text-align: left;
  }
}

.side-container {
  height: 100vh;
  width: 180px;
  position: sticky;
  top: 0;
  display: block;
  font-style: normal;
  font-size: 1em;
  margin: 0;
  transform: rotate(0deg);
  text-align: left;
  float: none;
  padding: 50px 0 0;
}

.side-header {
  display: block;
}

.site-title {
  align-self: flex-start;
  font-weight: bolder;
  font-style: normal;
  width: auto;
  height: auto;
  margin: 0;
  text-align: left;
  font-size: 2rem;
  padding: 0 0 25px 0;
  border-left: solid var(--foreground-color) 2px;
  transition: padding 0.8s ease 0s, background 0.8s ease 0s;

  &:hover {
    padding: 5px 0 20px 0;
    color: var(--link-hover-color) !important;
    background: var(--link-hover-bg) !important;
    border-left: solid var(--foreground-color) 2px;

    * {
      color: var(--link-hover-color) !important;
    }
  }

  :first-child {
    margin-right: 10px;
  }

  * {
    text-align: left;
    font-weight: bolder;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 0;
    font-family: $titleFontList;
  }

  a:focus,
  a:active,
  h1:focus,
  h3:focus {
    outline: none;
    box-shadow: none;
  }
}

.site-title-large {
  font-size: 50px;
  padding-top: $verticalPrimaryPaddingTopPatch;
}

.site-title-small {
  font-size: 30px;
  padding-top: 1rem;
}

.site-title-links {
  margin-top: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: left;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    display: block;
    margin: 0;
    font-size: 18px;
  }

  a {
    border-bottom: solid var(--foreground-color) 2px;
  }
}

.site-nav-pages {
  width: 6rem;
  columns: 2;
  column-gap: 5px;
}

.site-nav-pages li + li {
  margin-top: 0;
}

.site-nav-social {
  margin-top: 0;

  li {
    display: inline-block !important;
    margin: 0;
  }

  a {
    display: inline-block;
    border-bottom: none;
    font-size: 24px;
    line-height: 1;
    padding-right: 5px;
  }

  a:hover,
  a:focus {
    border-bottom: none;
  }
}

.side-footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.site-bottom-footer {
  display: none;
}
