{{ define "title" }}{{ i18n "Archive" }} · {{ .Site.Title }}{{ end }}

{{ define "description" }}
<meta name="description" content="{{ i18n "Archive" }} - {{ .Site.Title }}">
{{ end }}

{{ define "main" }}
<div class="autopagerize_page_element">
  <div class="content">
    <section class="archive animated fadeInDown">
      <p class="post-title">{{ i18n "Archive" }}</p>
      <ul class="list-with-title">
        {{ $pages := where .Site.RegularPages "Type" "post" }}
        {{ range ($pages.GroupByDate "2006") }}
        <li class="listing-title">
          <h4 class="ar-year">{{ .Key }}</h4>
          <ul class="listing archive-post-list">
            {{ range .Pages }}
            <li class="listing-item">
              <div class="listing-post">
                <p class="post-title">
                  <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                </p>
                <div class="post-time">
                  <span class="ar-date">{{ .Date.Format "01-02" }}</span>
                </div>
              </div>
            </li>
            {{ end }}
          </ul>
        </li>
        {{ end }}
      </ul>
    </section>
  </div>
</div>
{{ end }}
