<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{ partial "head.html" . }}
<body>
  <div id="stage" class="container">
    <div class="row">
      {{ partial "sidebar.html" . }}
      <div id="main-container" class="col-sm-9 col-xs-12 main-container invisible">
        {{ block "main" . }}{{ end }}
      </div>
      <div class="visible-xs site-bottom-footer">
        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>

  {{ $js := resources.Get "js/typography.js" | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}"></script>

  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body, { delimiters: [ {left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false}, {left: '\\(', right: '\\)', display: false}, {left: '\\[', right: '\\]', display: true} ] });"></script>
</body>
</html>
